
html {
    height: 100%;
}

body {
    background: rgb(234,247,204);
    background: radial-gradient(farthest-corner at 700px 800px, rgba(234,247,204,1) 0%, rgba(179,217,189,1) 33%,rgba(86,166,163,1) 60%, rgba(5,91,116,1) 100%);
    /*background: radial-gradient(circle at 2.01% 30.02%, #00c6ff, transparent 100%),radial-gradient(circle at 97.99% 10.05%, #0072ff, transparent 100%),radial-gradient(circle at 50% 50%, #8903ff, #8903ff 100%);*/
    padding: 0px;
    font-family: Baskerville;
}

.container {
    width: 600px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0px auto;
    margin-top: 50px;
    padding: 15px;
    color: #F8F8F8;
    border-radius: 10px;
    border: 1px solid black;
}

.container h2 {
    margin-left: 30px;
}

.imgbox {
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 15px;
    float: left;
    display: inline-block;
}

.intro {
    text-shadow: 0px 0px 2px black;
}

.intro a:link {color: white;}
.intro a:visited {color: white;}
.intro a:hover {color: white;}
.intro a:active {color: white;}

.intro img {
    display: inline-block;
    float: left;
    vertical-align: middle;
    width: 150px;
    padding: 4px;
    background: #444;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

.intro p {
    display: block;
    vertical-align: middle;
}

.intro ul {
    list-style-type: none;
}

.links {
    clear: both;
}

.icons {
    padding-top: 10px;
    clear: both;
    text-align: center;
}

.keys {
    padding-top: 10px;
    padding-bottom: 10px;
    clear: both;
    text-align: center;
}

.keys a {
    padding: 5px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 4px;
}

.about {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.lightbox {
    display: none;
}

.qr-lightbox {
    width: 100%;
    height: 400px;
    text-align: center;
    margin: 0;
}

.qr-lightbox .qrcode {
    padding-top: 50px;
    width: 256px;
    margin: 0 auto;
}

.qr-lightbox a {
    text-decoration: none;
    color: black;
}

.qr-lightbox h4 {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.qr-lightbox input {
    width: 360px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
}
